flows.json
[{"id":"9832e502.b523d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1fe8784b.c8a698","type":"inject","z":"9832e502.b523d8","name":"Looping30min","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["961e156a.09e038"]]},{"id":"961e156a.09e038","type":"http request","z":"9832e502.b523d8","name":"clima&Tempo","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://api.hgbrasil.com/weather?woeid=455827","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":60,"wires":[["82d2836f.743f6"]]},{"id":"82d2836f.743f6","type":"function","z":"9832e502.b523d8","name":"","func":"dados = [\n    {\n    \"variable\" : \"temperatura\",\n    \"unit\": \"C\",\n    \"value\" : msg.payload.results.temp\n    },{\n    \"variable\" : \"tempo\",\n    \"value\": msg.payload.results.description,\n    }\n]\n\nmsg.payload = JSON.stringify(dados);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["793e2e9a.c8f0e"]]},{"id":"793e2e9a.c8f0e","type":"mqtt out","z":"9832e502.b523d8","name":"","topic":"tago/data/post","qos":"","retain":"","broker":"d827a88d.d9bc98","x":780,"y":60,"wires":[]},{"id":"4892ee81.ae783","type":"inject","z":"9832e502.b523d8","name":"Mock","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["8f8cb954.320e28"]]},{"id":"8f8cb954.320e28","type":"function","z":"9832e502.b523d8","name":"","func":"dados = [\n    {\n    \"variable\" : \"temperatura\",\n    \"unit\": \"C\",\n    \"value\" : 30\n    },{\n    \"variable\" : \"tempo\",\n    \"value\": \"Chuva\",\n    }\n]\n\nmsg.payload = JSON.stringify(dados);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":160,"wires":[["793e2e9a.c8f0e"]]},{"id":"d827a88d.d9bc98","type":"mqtt-broker","name":"36SCJ - Meu Dispositivo Tago IO","broker":"mqtt.tago.io","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]